
.student_table,.teacher_table,.detail_table,.subject_table,
.stuMySubject,.homework_table,.homeworkFile_table{
  text-align:center;
  margin-left:auto; 
  margin-right:auto;
  font-size:30px;
}

.table-hover-cells > tbody > tr > td[group='sub_td']:hover {
  background-color: #333;
}

/*.edit_student,.del_student{
  display:inline-block ;
}
.editIng .edit_student ,.editIng .del_student {
  display:none ;
}

.update_student,.cancel_update{
  display:none ;
}
.editIng .update_student ,.editIng .cancel_update {
  display:inline-block ;
}*/

.editIng,.sub_sex{
  display:none ;
}

.template{
  display:none;
}

#subjectPage{
  width:750px;
  margin-left:auto; 
  margin-right:auto;
  text-align: center;
}

.addEdit_table{
  text-align: left;
}


.addEditSubjectDiv{
  margin-left:auto; 
  margin-right:auto;
  width:650px;
}

.showTimeDiv{
  text-align: center;
  background-color: white;
}

.subjectCUDbtn{
  margin:5px;
  float:right;
}

.delDayTimeBtn{
  float:right;
  zoom:60%;
  border:2px Black double;
  margin-top:3px;
}

.clickTimeDetail{
  background-color: navy;
}

#selSubjectDiv,#subjectDetailDiv,#thisSubHomework,#uploadDiv,#showHomeworkFileDiv{
  display: none;
  text-align: center;
}


.subTable, .subTable td{
  border:none !important; 
  font-size: 25px;
  /*vertical-align: middle;*/
}
.subTable{
  margin: auto;
}

td.status{
  font-size: 15px !important;
}

.tmpHomeworkDiv{
  margin: 25px;
  font-size: 20px;
}

td textarea{
  width:200px;
  height:60px;
  font-size:20px;
}





