
.student_table,.teacher_table,.detail_table,.subject_table{
  text-align:center;
  margin-left:auto; 
  margin-right:auto;
  font-size:30px;
}


/*.edit_student,.del_student{
  display:inline-block ;
}
.editIng .edit_student ,.editIng .del_student {
  display:none ;
}

.update_student,.cancel_update{
  display:none ;
}
.editIng .update_student ,.editIng .cancel_update {
  display:inline-block ;
}*/

.editIng{
  display:none ;
}

.template{
  display:none;
}

#subjectPage{
  width:750px;
  margin-left:auto; 
  margin-right:auto;
  text-align: center;
}

.addEdit_table{
  text-align: left;
}


.addEditSubjectDiv{
  margin-left:auto; 
  margin-right:auto;
  width:600px;
}

.showTimeDiv{
  text-align: center;
  background-color: white;
}

.subjectCUDbtn{
  margin:5px;
  float:right;
}

.delDayTimeBtn{
  float:right;
  zoom:60%;
  border:2px Black double;
  margin-top:3px;
}

.clickTimeDetail{
  background-color: navy;
}

#selSubjectDiv{
  display: none;
  text-align: center;
}